body {
  background: linear-gradient(135deg, #f83600, #f9d423);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
}

.container {
  background: white;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  text-align: center;
}

h1 {
  color: #f83600;
}

.busqueda {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #f83600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background: #d32f00;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #222;
  color: white;
  padding: 10px;
  font-size: 14px;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.tabla-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 25px;
}

/* Evita que la tabla se aplaste */
table {
  min-width: 1000px;
}

/* Responsive para celular */
@media (max-width: 768px) {

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  .busqueda {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  th, td {
    font-size: 13px;
    padding: 8px;
  }

  h1 {
    font-size: 24px;
  }
}
